altgraph==0.17.5
arcade==3.3.3
attrs==25.4.0
black==26.1.0
cffi==2.0.0
click==8.3.1
isort==7.0.0
mypy-extensions==1.1.0
packaging==26.0
pathspec==1.0.4
pillow==11.3.0
platformdirs==4.5.1
pycparser==3.0
pygame==2.6.1
pyglet==2.1.12
pyinstaller==6.18.0
pyinstaller-hooks-contrib==2026.0
pymunk==6.9.0
pytiled-parser==2.2.9
pytokens==0.4.1
setuptools==81.0.0
typing-extensions==4.15.0
